.detailproduct {
  display: flex;
  flex-direction: column;
}
.featureproduct {
  background-color: hsla(180, 10%, 94%, 0.626);
  display: flex;
  justify-content: center;
}
.productnameandprice {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.allproduct {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

#product {
  width: 250px;
  height: 150px;
}
.box {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-family: "Poppins", sans-serif;
}
.imgcap {
  width: 250px;
}
figcaption {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: black;
  color: #ffcc00;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  font-family: poppins;

  color: rgb(5, 3, 0);
  background-color: rgb(255, 252, 252);
}
/*
 padding: 1em;
font-size: 1em; 
border: 2px solid #007bff; 
background-color: #007bff; 
color: white; 
display: inline-block; 
border-radius: 5px; 
text-align: center; 
margin: 0.5em; 
*/
.imgcap {
  position: relative;
}
@media (max-width: 769px) {
  .allproduct {
    gap: 0px;
  }
  .detailproduct {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 426px) {
  .allproduct {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 321px) {
  figcaption {
    right: 0px;
  }
  .box {
    padding: 0px;
  }
}
