.gridview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
  border: 1px solid white;
}
@media (max-width: 1026px) {
  .gridview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 769px) {
  .gridview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 426px) {
  .gridview {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
  }
}
